.address-search-button {
  margin-left: 24px;
  width: 217px;
  height: 70px;
  background: #4f27bf;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  cursor: pointer;
}

.address-search-button span {
  margin-left: 16px;
}

.address-search-button:active {
  box-sizing: border-box;
  border: 2px solid white;
}
